table.sale_order_full
{
	width:100%;
	background-color:#F9FAFB;
	border-collapse:collapse;
}

/*Table head*/
table.sale_order_full th
{
	background-image:url(images/table_head.gif);
	background-repeat:repeat-x;
	text-align: left;
	color:#25639A;
}

/* Table cells and heads*/
table.sale_order_full th, table.sale_order_full td
{
	border:1px solid #ADC3D5;
	padding: 3px 5px;
	vertical-align:top;
}

table.sale_order_full_table
{
	width:100%;
	background-color:#FFFFFF;
	border-collapse:collapse;
	font-size:12px;
	border:1px solid #ADC3D5;
}

/* Table cells and heads*/
table.sale_order_full_table td
{
	padding: 3px 5px;
	vertical-align:top;
}

.sof-req{color:red;}
.sof-ok{color:green; font-weight:bold;}




/* Form  authorization */
.bx-system-auth-form{
	margin: 10px 0px 20px 0px;
	padding: 10px;
	border: 1px solid #46bfce;
}


.edit-order-info{
border-bottom: 1px dotted;
    float: right;
}

.order-input-profile-info{	
    outline: 1px solid #c0cfda;
    margin-bottom: 25px;
    display: inline-block;
}
.order-input-profile-info-edit{ 
	margin-bottom: 25px;
}
.order-input_my{
	padding-top: 5px;
    padding-bottom: 10px;
}
.order-input-left-line{
	border-left: 1px solid #c0cfda;
	padding-bottom: 5px;
}

/* EDIT 18-12-2017 */
.order-input{
    width: 100%;
    display: block;
}
